In [1]:
#this is comment in python #

print("hello world this is my first python code")

hello world this is my first python code

In [2]:
print("Hello my name is Govardhan")

Hello my name is Govardhan

In [8]:
#print(var1,var2,var3,sep='',end="")

var1="Govardhan"
var2="Gova"

print(var1,var2,sep='-',end='')
print(var2,var1,end=' ',sep="$$$")
print(var1,var2)

Govardhan-GovaGova$$$Govardhan Govardhan Gova

In [10]:
print(var1,var2,end="\n")
print("My name is : ")

Govardhan Gova
My name is :

In [ ]:
a=10
b=2.34
c='Gova'
d=True

print(a,type(a),b,type(b),c,type(c),d,type(d),sep=' -> ')

10 ->
<class 'int'> ->
2.34 ->
<class 'float'> ->
Gova ->
<class 'str'> ->
True ->
<class 'bool'>

In [3]:
my_name = "Govardhan"
my_age = 21
print('My name : ',my_name,'Age: ',my_age)

My name :  Govardhan Age:  21

In [4]:
a=10
b=2.3
c=a+b
print(c,type(c))

12.3 <class 'float'>

In [5]:
d=a-b
print(d,type(d))

7.7 <class 'float'>

In [6]:
e=a*b
print(e,type(e))

23.0 <class 'float'>

In [7]:
round(10.232323,4)

10.2323

In [8]:
round(10.2323)

10

In [9]:
round(10.5)

10

In [10]:
round(10.51)

11

In [11]:
round(22.5)

22

In [12]:
round(23.5)

24

In [13]:
# The conclusion is Round function will give the nearest even number as output when the value is 23.5 -> 24,22.5 -> 22

In [ ]:
#normaldivision
f=a/b
print(f,type(f))
print(f"2 digits after decimal point : {f:.2f}")

4.347826086956522 <class 'float'>
2 digits after decimal point:4.35

In [19]:
g=a//b
print(g,type(g))
print(f"See how many digit for floor : {g:.4f}")
print("As you can see we have 4 zeros after the decimal point")

4.0 <class 'float'>
See how many digit for floor : 4.0000
As you can see we have 4 zeros after the decimal point

In [21]:
h= round(95.34 / 3.57)
print(h,type(h))

27 <class 'int'>

In [22]:
print(round(4.333))

4

In [23]:
72**(3/4)

24.717205726885414

In [26]:
#Can we change the float to str
a=2.3
print(str(a))

2.3

In [29]:
b="23.455"
print(float(b))

23.455

In [30]:
#We can only convert from a string with decimal value to float 
#Not int

w="32"
print(int(w))

32

$$ Print area of triangle given sides $$
$$ semi perimeter : s = 0.5(a+b+c) $$
$$ area : (s(s-a)(s-b)(s-c))**0.5

In [32]:
a=float(input("Enter a value: "))
b=float(input("Enter b value: "))
c=float(input("Enter c value: "))

In [33]:
print(a,b,c)

22.0 34.0 45.0

In [35]:
s=0.5*(a+b+c)
area = (s*(s-a)*(s-b)*(s-c))**0.5

In [36]:
print("The area of : ",area)

The area of :  361.4027358778569

In [49]:
# Strings methods and string realted things

s='      There is a good one        '
print(s.capitalize())
print(s.casefold())
print(s.center(100))
print(s.upper().center(50))
print(s.rstrip())
print(s.lstrip())

      there is a good one
      there is a good one
                                       There is a good one
              THERE IS A GOOD ONE
      There is a good one
There is a good one

In [51]:
10 == 10

True

In [52]:
# 1.	Python Program to Print Hello world!
print("Print Hello World")

Print Hello World

In [54]:
# 2.	Python Program to Add Two Numbers
a=20
b=30
print(a+b)

50

In [56]:
# 3.	Python Program to Find the Square Root            (num ** 0.5)
num = 81
print(f"Sqrt of the {num} : {num**0.5}")

Sqrt of the 81 : 9.0

In [60]:
# 4.	Python Program to Calculate the Area and circumference of a circle when radius is given
import math

print(math.pi)

radius = 10

print(f"Area of a circle : {math.pi*radius**2}")
print(f"Circumstances of a circle : {math.pi*radius*2}")

3.141592653589793
Area of a circle : 314.1592653589793
Circumstances of a circle : 62.83185307179586

In [63]:
# 6.	Python Program to Print all Prime Numbers between 1 and 100

for num in range(2,101):
    is_prime = True

    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [64]:
a=0
b=1
for i in range(1,11):
    temp = a
    a = b
    b = temp + a
    print(b)

1
2
3
5
8
13
21
34
55
89