In [2]:
my_li = [1,2,3]
print(my_li,type(my_li),id(my_li))

[1, 2, 3] <class 'list'> 2464852747904

In [3]:
stocks = ["swiggy","zomato","sbi","hdfc"]

print(f"my stocks: {stocks[:2]}")

my stocks: ['swiggy', 'zomato']

In [ ]:
stocks[0:len(stocks):1] #default

['swiggy', 'zomato', 'sbi', 'hdfc']

Q1. Extract Clean Email Usernames

You receive a list of messy email IDs. Using list comprehension, extract only the username part.

In [10]:
emails = ["john.doe@gmail.com ", "  ana123@yahoo.com", "mark_z@outlook.com"]

names = [name[:name.index('@')].strip() for name in emails]

names

['john.doe', 'ana123', 'mark_z']

Q2. Product Prices With 18% GST

Given a list of base prices, return prices including GST.

In [15]:
prices = [100, 250, 399, 1200]

gst_prices = [price+18//100 for price in prices]

gst_prices

[100, 250, 399, 1200]

Q3. Square Only Even Numbers From Mixed List

In [18]:
nums = [10, 15, 20, 21, 22]

sq_even_nums = [num**2 for num in nums if num % 2 == 0]

sq_even_nums

[100, 400, 484]

Q4. Flatten a 2D List

In [24]:
matrix = [[1,2,3], [4,5], [6,7,8]]

flatten_list = [n for nums in matrix for n in nums]

flatten_list

[1, 2, 3, 4, 5, 6, 7, 8]

Q5. Words With More Than 3 Characters

In [27]:
words = ["AI", "python", "is", "awesome"]

list_three_words = [word for word in words if len(word)>3]

list_three_words

['python', 'awesome']

LOOPS - 5 Problems

Q1. Reverse a Number Without Using Slicing

In [30]:
n = 12345
res=0
while n>0:
    res = res*10 + n%10
    n = n // 10
print(res)

54321

Q2. Count Vowels in a Sentence

Ignore case.

In [31]:
sentence = "Today I have build a agent"
result=0
for i in sentence:
    if i.lower() in ('a','e','i','o','u'):
        result+=1
print(f"Number of vowels in the sentence {result}")

Number of vowels in the sentence 10

Q3. Print a Star Pattern

In [32]:
for i in range(1,5):
    print(i*'*')

*
**
***
****

Q4. Remove Duplicates Without Using Set

Maintain order.

In [39]:
li = [3,6,7,3,8,6]
seen={}
out = []
for num in li:
    if num not in seen:
        seen[num] = True
        out.append(num)
print(out)

[3, 6, 7, 8]